:root {
	--col_text: rgb(130, 180, 255)
}

body {
	color: var(--col_text);
	background-color: rgb(20,20,20);
}

.form-control placeholder {
	background: rgb(10,8,10);
}

.form-control {
	color: var(--col_text);
	background: rgb(50,50,50);
	border-color: var(--col_text);
}

#user-input {
	opacity: 0;
}

#main-header {
	opacity: 0;
	text-align: center;
	margin: 50px;
}

#output {
	opacity: 0;
}

.flynumber {
	opacity: 0;
	text-align: center;
	width: 50%;
	height: auto;
}

.btn:hover {
	color: rgb(200, 200, 220);
	background-color: rgb(70, 70, 100);
}

.btn {
	background-color: rgb(70, 70, 70);
}
